/* left sidebar nav  */
.sidebar {
  position: fixed;
  top: 63px;
  overflow: auto;
  background-color: #fff;
  height: 100%;
  border-right: 1px solid rgb(128, 128, 128);
  padding: 30px 5px;
  margin: 0px;
  width: 200px;
}

.sidebar a {
  text-decoration: none;
  padding: 10px 10px;
  color: #000;
  text-align: left;
  display: block;
}

.sidebar i {
  padding-right: 10px;
}

.sidebar .icon {
  float: right;
}

.dropdow-container {
  padding-left: 10px;
  overflow-y: hidden;
  max-height: 0px;
  transition: all 0.15s ease;
}

.dropdow-container.show {
  max-height: 1000px;
  transition: all 0.15 ease;
}
ul {
  padding: 0px;
}
ul > li > a.active {
  color: #000;
}

/* left sidebar nav  */

@media screen and (max-width: 500px) {
  .sidebar {
    display: none;
    width: 160px;
  }
  .sidebar a {
    padding: 10px 0px;
  }
}
