<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">nombre</th>
      <th scope="col">precio</th>
      <th scope="col">disponible</th>
      <!-- <th scope="col">estado</th>
        <th scope="col">precio</th>
        <th scope="col">categoria</th>
        <th scope="col">descripcion</th>
        <th scope="col">disponible</th> -->
    </tr>
  </thead>
  <tbody>
    @for (product of products; track product._id) {
    <tr>
      <td>{{ product.nombre }}</td>
      <td>{{ product.precio }}</td>
      <td>{{ product.disponible }}</td>
      <td>
        <button class="btn btn-danger mx-3"><i class="bi bi-trash"></i></button
        ><button class="btn btn-primary">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </td>
    </tr>

    } @empty { Empty list of products }
  </tbody>
</table>
